.form_container{
    width: 30%;
}

@media screen and (max-widh: 1000px) {
    .form_container{
        width: 45%;
    }
}

@media screen and (max-widh: 700px) {
    .form_container{
        width: 65%;
    }
}
